.cart {
  background: rgba(255, 153, 0, 0.3);
  padding: 25px;
  position: sticky;
  top: 0;
  height: 100vh;
}
.cart p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
}
