.product {
  height: 510px;
  width: 300px;
  border: 1px solid orange;
  border-radius: 8px;
  position: relative;
  /* background-color: blue; */
}
.product img {
  width: 286px;
  height: 286px;
  margin: 7px;
  border-radius: 8px;
}
.product-info {
  margin-left: 14px;
}
.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  margin-top: 12px;
  margin-bottom: 0px;
  color: #0e161a;
}
.product-info p{
    margin-top: 12px;
}
.btn-cart{
  width: 100%;
  background-color: #FFE0B3;
  border: 1 ps solid #95A0A7;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
}
.btn-cart:hover{
  background-color: #abb429;
}